
body {
  font-family: 'Average Sans', sans-serif;
}

#header {
  width: 800px;
  margin: 0 auto;
}

#logo {
  font-family: 'Black Ops One', cursive;
  font-size: 4em;
  margin: 0px;
  text-align: center;
}

#mission {
  font-family: 'Bowlby One SC', cursive;
  font-size: 2em;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0px;
}

#wrapper {
}

footer {
  text-align: center;
}
