
body {
  font-family: 'Average Sans', sans-serif;
  margin: 3px;
}

#leftbar {
  float: left;
  width: 200px;
}

#header {
  width: 800px;
  margin: 0 auto;
}

#logo {
  margin: 0 auto;
  display: block;
}

#title {
  font-family: 'Black Ops One', cursive;
  font-size: 4em;
  margin: 0px;
}

#mission {
  font-family: 'Bowlby One SC', cursive;
  font-size: 2em;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0px;
}

#status {
  padding: 10px;
}

#status h3 {
  margin: 0;
}

#status ul {
  padding-left: 10px;
  list-style-type: none;
}


footer {
  text-align: center;
}
