
body {
  font-family: 'Average Sans', sans-serif;
  margin: 3px;
}

#wrapper {
  width: 1200px;
  margin: 0 auto;
}

#leftbar {
  float: left;
  width: 200px;
}

#leftbar small{
  padding: 10px;
}

#header {
  width: 800px;
  margin: 0 auto;
}

#logo {
  margin: 0 auto;
  display: block;
}

#title {
  font-family: 'Black Ops One', cursive;
  font-size: 4em;
  margin: 0px;
}

#mission {
  font-family: 'Bowlby One SC', cursive;
  font-size: 2em;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0px;
}

.leftbox {
  padding: 10px;
}

.leftbox h3 {
  margin: 0;
}

.leftbox ul {
  padding-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  list-style-type: none;
}

.leftbox ul li span{
  display: block;
  padding-left: 10px;
  font-size: small;
}

.leftbox ul li strong {
  display: block;
}

footer {
  text-align: center;
}
