<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>skBalloon Monitor Center</title>
  <link href="css/style.css" rel="stylesheet" type="text/css" media="screen, projection" />
  <link href='http://fonts.googleapis.com/css?family=Black+Ops+One|Bowlby+One+SC|Average+Sans' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript" src="/js/julomc.js"></script>

  <script type="text/javascript">
    id = 0;
    $(window).load(function(){
        var julomc = new JuloMC();
        setInterval(function(){
          julomc.API_URL = 'http://0.0.0.0:3000/api/' + id;
          julomc.update('local');
          id += 1;
        }, 1000);
    });
  </script>
</head>
<body>
  <div id="wrapper">
    <% content %>
  </div>
</body>
</html>
